.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
Bundle/index.mjs
Bundle/index.js
Bundle/app.wasm
Package.resolved
